.cache
compile_commands.json
.vscode/*
!.vscode/settings.json

ex00/*
!ex00/Makefile
!ex00/main.cpp
!ex00/Bureaucrat.hpp
!ex00/Bureaucrat.cpp

ex01/*
!ex01/Makefile
!ex01/main.cpp
!ex01/Bureaucrat.hpp
!ex01/Bureaucrat.cpp
!ex01/Form.hpp
!ex01/Form.cpp

ex02/*
!ex02/Makefile
!ex02/main.cpp
!ex02/Bureaucrat.hpp
!ex02/Bureaucrat.cpp
!ex02/AForm.hpp
!ex02/AForm.cpp
!ex02/ShrubberyCreationForm.hpp
!ex02/ShrubberyCreationForm.cpp
!ex02/RobotomyRequestForm.hpp
!ex02/RobotomyRequestForm.cpp
!ex02/PresidentialPardonForm.hpp
!ex02/PresidentialPardonForm.cpp

ex03/*
!ex03/Makefile
!ex03/main.cpp
!ex03/Bureaucrat.hpp
!ex03/Bureaucrat.cpp
!ex03/AForm.hpp
!ex03/AForm.cpp
!ex03/ShrubberyCreationForm.hpp
!ex03/ShrubberyCreationForm.cpp
!ex03/RobotomyRequestForm.hpp
!ex03/RobotomyRequestForm.cpp
!ex03/PresidentialPardonForm.hpp
!ex03/PresidentialPardonForm.cpp
!ex03/Intern.hpp
!ex03/Intern.cpp
